/* general designs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.wrapper {
  width: calc(100% - 239px);
  margin: 0 auto;
}
span, .red-text, .view p {
  color:#C80000;
}
.red-under {
  text-decoration: underline #C80000;
}
h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
}
p, button, a {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  font-size: 18px;
}
#p-header {
  margin-bottom: 15px;
}
.p-white-header {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 10px;
}
h1 {
  font-size: clamp(45px, 70px, 90px);
}
h2 {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 120%;
}
h3 {
  font-size: 30px;
}
h4 {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: underline;
}
.p-header {
  font-size: 26px;
  margin-bottom: 15px;
}
p, a, button {
  font-size: 15px;
  line-height: 180%;
}
.button-red {
  margin: 0;
  padding: 0;
  background-color: #C80000;
  color: #FFFFFF;
  padding: 16px 27px;
  border-radius: 50px;
  border: none;
}
.button-white {
  margin: 0;
  padding: 0;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  padding: 16px 27px;
  border-radius: 50px;
  margin-left: 20px;
}
#gray-text {
  color: #848484;
}
#about-us, #menu, #events {
  padding: 150px 0px 150px 0px;
}
.div-center {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.carousel-button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.carousel-button i {
  font-size: 25px;
  margin-left: 10px;
}
/*header*/
header {
  background-color: #0A0200;
  position: fixed;
  width: 100%;
  z-index: 101;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
}
/*home*/
#home {
  background-color: #121212;
  height: 700px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0) 100%
  ), url(images/home.png);
  background-size: cover;
  padding-top: 110px;
  display: flex;
  align-items: center;
}
.home-button-container {
  padding-top: 60px;
}
/*about us*/
#about-us {
  background-color: #121212;
}
#about-us button {
  margin-top: 60px;
}
.about-us-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}
#about-us img {
  height: 468px;
  width: 356px;
  object-fit: cover;
}
.about-us-content-left {
  position: relative;
}
.overlap-img {
  position: absolute;
  bottom: -70px;
  right: 50px;
}
/*menu*/
#menu {
  background-color: #0A0200;
}
.menu-content {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin-top: 60px;
}
.menu-content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.menu-starters-right {
  margin: 15px;
  position: relative;
}
.starter-1 {
  position: absolute;
  z-index: 2;
}
.starter-2 {
  position: absolute;
  right: 0;
  top: 180px;
  z-index: 2;
}
.starter-3 {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.bg-1 img, .bg-2 img, .bg-3 img{
  width: 40px;
  height: 40px;
}
.bg-1 {
  position: absolute;
  top: 90px;
  left: 120px;
  z-index: 1;
}
.bg-2 {
  position: absolute;
  top: 190px;
  right: 60px;
  z-index: 1;
}
.bg-3 {
  position: absolute;
  bottom: -10px;
  left: 160px;
  z-index: 1;
}
/*events*/
#events {
  background-color: #121212;
}
.events-content-container {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 40px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
.events-content-center {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0) 100%
  ), url(images/events-center.png);
  position: absolute;
  top: 0;
  z-index: 2;
  box-shadow: 0px 0px 4px #C80000;
}
.view {
  display: flex;
  align-items: center;
  color: #C80000;
  margin-top: 20px;
  margin-right: 10px;
}
.events-content-left {
  background-image: url(images/events-left.png);
  background-size: cover;
  opacity: 30%;
  position: relative;
  z-index: 1;
  margin-right: 60px;
}
.events-content-right {
  background-image: url(images/events-right.png);
  background-size: cover;
  opacity: 30%;
  position: relative;
  z-index: 1;
}
.box {
  width: 700px;
  height: 350px;
  padding: 80px 50px 40px 50px;
}
/*reservations*/
#reservations {
  background-color: #0A0200;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0) 100%
  ), url(images/reservations.png);
  background-size: cover;
  padding-top: 110px;
  height: 639px;
  align-items: center;
}
.reservation-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* contact us */
#contact-us {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 150px;
}
.contact-us-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
  gap: 40px;
  margin-bottom: 150px;
  margin-top: 30px;
}
.div-inline {
  display: flex;
  align-items: center;
}
.contactUs-info i {
  background-color: #C80000;
  padding: 7px;
  border-radius: 20px;
  margin-right: 10px;
}
.contactUs-info div {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
input {
  background-color: transparent;
  border: 1px solid #363636;
  color: #363636;
  border-radius: 50px;
  font-size: 15px;
  padding: 16px 24px;
  margin-right: 5px;
  width: 60%;
}
.contactUs-footer {
  display: flex;
  justify-content: space-between;
}
hr {
  color: gray;
  background-color: gray;
  border: none;
  height: 1px;
  margin-top: 0px;
}
.contactUs-footer p{
  color: gray;
}
@media (max-width: 1023px) {
  .wrapper {
    width: calc(100% - 139px);
    margin: 0 auto;
  }
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  .p-header {
    font-size: 20px;
  }
  p, a, button {
    font-size: 14px;
  }
  .button-red {
    padding: 11px 22px;
  }
  .button-white {
    padding: 11px 22px;
    margin-left: 15px;
  }
  #about-us, #menu, #events, #reservations {
    padding: 150px 0px 150px 0px;
  }
  /*about us*/
  #about-us img {
    height: 368px;
    width: 256px;
  }
  /*menu*/
  .starter-2 {
    top: 210px;
  }
  .bg-2 {
    top: 220px;
  }
  /*events*/
  .box {
    width: 600px;
    height: 300px;
  }
  /*contact us*/
  input {
    padding: 13px 22px;
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    width: calc(100% - 139px);
    margin: 0 auto;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  } 
  h3 {
    font-size: 25px;
  }
  .p-header {
    font-size: 15px;
  }
  p, a, button {
    font-size: 12px;
  }
  .button-red {
    padding: 11px 22px;
  }
  .button-white {
    padding: 11px 22px;
    margin-left: 15px;
  }
  .carousel-button {
    margin-top: 50px;
  }
  .carousel-button i {
    font-size: 15px;
    margin-left: 10px;
  }
  #about-us, #menu, #events, #reservations {
    padding: 150px 0px 100px 0px;
  }
  /*about us*/
  #about-us img {
    height: 358px;
    width: 230px;
  }
  .overlap-img {
    right: 10px;
  }
  #about-us button {
    margin-top: 40px;
  }
  /*events*/
  .box {
    width: 450px;
    height: 380px;
    padding: 70px 50px 40px 50px;
  }
  .events-content-container {
    position: relative;
    height: 450px;
  }
  /*contact us*/
  .contact-us-content {
    display: grid;
    grid-template-columns: 3fr 0.5fr 1fr 2fr;
    gap: 20px;
  }
  .p-white-header {
    font-size: 13px;
  }
}