* {
  margin: 0;
  padding: 0;
  color: white;
}

h1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 18px;
}

span {
  color: #C80000;
}

p, button {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  line-height: 35px;
}

/* header */
header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 101;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

header div{
  display: flex;
  padding-left: 70px;
}

header nav {
  padding-right: 120px;
}

header h3, #contactUs h3{
  color: whitesmoke;
  text-decoration: 3px underline white;
}

header span, #contactUs span{
  color: #C80000;
  text-decoration: 3px underline #C80000;
}

/* nav */
nav a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat", serif;
  font-size: 10px;
  margin-left: 15px;
}

.button {
  background-color: #C80000;
  border: none;
  margin-left: 30px;
  padding: 10px 18px;
  border-radius: 17px;
}

/* home */
#home {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(images/home-steak.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  max-height: 400px; 
  min-height: 300px;
  padding: 70px;
  color: white;
  z-index: 1;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, rgba(1, 1, 0, 1), transparent 100%);
  z-index: -1;
}

#home h1 {
  margin-bottom: 40px;
  font-size: 60px;
}

#home span {
  color: #C80000;
}

.home-button-1 {
  color: whitesmoke;
  background-color: #C80000;
  margin-right: 10px;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
}

.home-button-2 {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 20px;
}


/* about us */
#aboutUs {
  height: 100%;
  background-color: #121212;
  display: flex;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.aboutUs-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px;
}

.aboutUs-1-content {
  padding: 70px;
}

.aboutUs-1-content-1 {
  position: relative;
}

.aboutUs-1-content-1 img {
  height: 350px;
  width: 300px;
  object-fit: cover;
}

.aboutUs-1-content-2 {
  position: absolute;
  top: 50px;
  left: 100px;
}

.aboutUs-2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.aboutUs-2-content {
  width: 70%;
  margin-left: 15px;
}

.aboutUs-2-content span, .red {
  color: #C80000;
}

.aboutUs-2-content p {
  line-height: 29px;
}

.aboutUs-2-content button {
  background-color: #C80000;
  color: white;
  margin-top: 25px;
  border: none;
  padding: 9px 17px;
  border-radius: 20px;
  font-size: 12px;
}

/* menu */
#menu {
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
  padding-top: 100px;
}

.carousel {
  display: flex;
  margin: 30px 100px 40px 100px;
  text-align: left;
}

.carousel-left-1 {
  width: 100%;
  background-image: url(images/menu-1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-right {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
}

.carousel-right-container {
  position: relative;
}

.carousel-right h2 {
  justify-content: left;
}

.carousel-right-content {
  width: 280px;
}

.carousel-right-absolute-1 {
  width: 280px;
  position: absolute;
  right: -10px;
  bottom: -100px;
}

.carousel-right-absolute-2 {
  width: 280px;
  position: absolute;
  left: 0px;
  bottom: -250px;
  background-image: url(images/three.png);
}

.carousel-button {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.carousel-button i {
  font-size: 25px;
  margin-left: 10px;
}

/* events */
#events {
  background-color: #121212;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

.container {
  position: relative;
  width: 80%; 
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 40px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.box {
  width: 500px;
  height: 270px;
  padding-top: 80px;
  padding-left: 50px;
}

.left {
  opacity: 30%;
  background-image: url(images/events-feast.jpg);
  background-size: cover;
  position: relative;
  z-index: 1; /* Ensure it's below the black box */
  margin-right: 60px;
}

.right {
  opacity: 30%;
  background-image: url(images/events-night.jpg);
  background-size: cover;
  position: relative;
  z-index: 1; /* Ensure it's below the black box */
}

.center {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 80%);
  position: absolute;
  top: 0;
  width: 500px;
  height: 300px;
  z-index: 2;
  box-shadow: 0px 0px 4px #C80000;
}

.view {
  display: flex;
  color: #C80000;
  margin-right: 10px;
  margin-top: 2px;
  align-items: center;
}

#red {
  color: #C80000;
  margin-right: 10px;
}

/* reservations */
#reservations {
  background-color: black;
  height: 60vh;
  display: flex;
  width: 100%;
  position: relative;
}

.reservation-1 {
  width: 150%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0) 90%), 
                url('images/reservation.png') center/cover no-repeat;
}

.reservation-2 {
  background-color: black;
  width: 80%;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.reservation-2-content {
  position: absolute;
  left: -90px;
}

.reservation-2-content span {
  color: red;
}

.reservation-2-content button {
  background-color: red;
  color: whitesmoke;
  margin-top: 25px;
  border: none;
  padding: 9px 15px;
  border-radius: 20px;
  font-size: 12px;
}

/* contact us */
#contactUs {
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 70px;
  padding-bottom: 10px;
}

#contactUs p{
  font-family: "Montserrat", serif;
}

.contactUs-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.contactUs-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 35px;
}

.contactUs-navigation {
  margin-left: 30px;
}

.contactUs-info i {
  border: 2px solid hsl(0, 100%, 39%);
  background-color: #C80000;
  padding: 5px;
  border-radius: 20px;
  height: 10px;
  width: 11px;
  font-size: 12px;
  margin-right: 10px;
}

.contactUs-info div {
  display: flex;
  align-items: center;
}

.contactUs-subscribe {
  margin-left: 10px;
  width: 100%;
}

.contactUs-subscribe input {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 15px;
  opacity: 0.3;
  border-radius: 20px;
  width: 110px;
}

.contactUs-subscribe button {
  color: whitesmoke;
  background-color: #C80000;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  margin-left: 5px;
}

.contactUs-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

hr {
  color: gray;
  background-color: gray;
  border: none;
  height: 1px;
  margin-top: 90px;
}

.contactUs-footer p{
  color: gray;
}

/* media queries */
@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}
